<div class="author-bio">
  <p class="author-bio-text">
    <strong>{{ site.author.name }}</strong> - {{ site.data[site.active_lang].author_bio }}
    <a href="{{ '/about/' | relative_url }}">{{ site.data[site.active_lang].author_learn_more }} &rarr;</a>
  </p>
</div>

<style>
.author-bio {
  margin-top: 30px;
  padding: 15px 20px;
  background: #f6f8fa;
  border-left: 3px solid #2e7d32;
  border-radius: 3px;
}
.author-bio-text {
  margin: 0;
  font-size: 14px;
  color: #444;
  line-height: 1.6;
}
.author-bio-text a {
  color: #2e7d32;
  text-decoration: none;
}
.author-bio-text a:hover {
  text-decoration: underline;
}
</style>
