<!DOCTYPE html>
<html lang="{{ site.active_lang | default: site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.time | date: '%s' | relative_url }}">

{% seo %}
    {% feed_meta %}
    {% include head-custom.html %}
    {% include lang-redirect.html %}
    {% I18n_Headers %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="{{ '/' | relative_url }}" style="color: inherit; text-decoration: none;">{{ site.title }}</a></h1>
          <h2 id="project_tagline">{{ site.data[site.active_lang].site_tagline | default: site.description }}</h2>
          {% include language-switcher.html %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }} &middot; {{ site.author.name }}</p>
      </footer>
    </div>
  </body>
</html>
